.home-page {
  text-align: center;
}

.home-page__title {
  margin-bottom: 2rem;
}

.home-page__description {
  margin-bottom: 2rem;
}

.home-page__button-row {
  display: flex;
  justify-content: center;
}

.home-page__button-row button {
  padding: 0.5rem 1rem;
  margin: 0 2rem;
  color: #ffffff;
  font-size: 1rem;
  background-color: #e50914;
  border-radius: 0.6rem;
}
.home-page__button-row button:hover {
  background-color: #b91b1b;
}
