/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: unset;
}

button,
input[type="submit"] {
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* GENERAL */

body,
button,
input {
  font-family: "Titillium Web", sans-serif;
}

.page {
  padding: 1rem;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
}

/* FORM */

.form label,
.form input {
  display: block;
}
.form label {
  margin-bottom: 0.2rem;
}
.form input {
  margin-bottom: 1rem;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.1rem;
  border: 1px solid #c2c2c2;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.form input:focus {
  outline: none;
  border: 1px solid #50a4e9;
  box-shadow: inset 0px 0px 5px rgb(80, 164, 233, 0.5);
}
.form input[type="submit"] {
  padding: 0.3rem 0.5rem;
  border: 1px solid #6aa051;
  background-color: #c8ecb7;
  font-size: 1.1rem;
  border-radius: 8px;
}

/* ERROR NOTICE */

.error-notice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e07c7c;
  background-color: #f8d6d6;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 1rem 0;
}
.error-notice button {
  background-color: #df4343;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
