.selected-genre {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
  padding: 0.5rem;
}

.selected-genre .remove-icon {
  margin-right: 1rem;
}

.selected-genre .remove-icon:hover {
  cursor: pointer;
}
