.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background-color: #e50914;
  position: fixed;
  top: 0;
  width: 100%;
}

.header__title {
  margin: 0;
  padding: 0 1rem;
  color: #ffffff;
}
