.auth-options {
  height: 100%;
  display: flex;
}
.auth-options button {
  padding: 0 1rem;
  background-color: #b91b1b;
  color: #ffffff;
  font-size: 1.1rem;
}
.auth-options button:hover {
  background-color: #be3a3a;
}
