.session-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-page__room-info-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.session-page__room-info {
  text-align: left;
  display: inline-block;
}

.session-page h2 {
  margin-bottom: 1rem;
}

.session-page__start-message {
  padding: 0 1rem;
  text-align: center;
}

.session-page__start-button {
  margin-top: 2rem;
}
