.cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

.cards--swipe {
  position: absolute;
}

.cards__card {
  position: relative;
  width: 20rem;
  max-width: 70vw;
  height: 60rem;
  max-height: 60vh;
  border-radius: 2rem;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  overflow: hidden;
  z-index: -1;
}

.cards__card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2rem 1.5rem;
  background-color: #ccc0c0d2;
  font-size: 0.9rem;
  text-align: center;
}

.cards__card-title {
  text-align: center;
}

.cards__card-synopsis {
  text-align: left;
}

.cards__card-tags {
  display: flex;
  justify-content: space-around;
}

.cards__swipe-direction {
  color: #000000;
  position: absolute;
  bottom: 12vh;
}
